.weather-cont {
  width: 423px;
  padding-bottom: 50px;
  border-radius: 40px;
  background: linear-gradient(135deg, #08244f 0%, #134cb5 47.38%, #0b42ab 100%);
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2px;
  position: relative;
  transition: 1s;

  form {
    margin-top: 20px;
    input {
      width: 300px;
      padding: 10px;
      border-radius: 15px;
      outline: none;
      border: none;
      font-size: 15px;
      background-color: #ebfeff;
      &::placeholder {
        font-size: 15px;
      }
    }
  }

  .city-name {
    color: #fff;
    text-align: center;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .img {
    img {
      width: 284px;
    }
  }

  .celsius {
    h2 {
      color: #fff;
      font-size: 64px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
  }

  .prec {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
      color: #fff;
      text-align: center;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      display: flex;
      flex-direction: column;
    }
  }

  .spec-infos {
    margin-top: 20px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    background: #2177ee;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
    padding: 8px;

    p {
      display: flex;
      align-items: center;
      gap: 5px;
      color: #fff;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
  }

  .today-info {
    margin-top: 20px;
    border-radius: 20px;
    width: 80%;
    padding: 12px 14px 14px 12px;
    background: #1b5cb8;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
    .data-time {
      display: flex;
      justify-content: space-between;
      p {
        color: #fff;
        text-shadow: -2px 3px 1px rgba(0, 0, 0, 0.1);
        font-family: SF Pro Display;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        &:first-child {
          font-size: 20px;
          font-weight: 700;
        }
      }
    }
  }
}

.loading {
  display: inline-block;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #fff;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
  position: absolute;
  top: 50%;
  left: 40%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
